.profile_container .profile_name{
    background-color:var(--primary-color);
    padding: 3%;
    display: flex;
    align-items: center;
}
.profile_container .profile_name h3{
    color: white;
    margin-left: 3%;
}
.profile_container .profile_content{
    display: flex;
    justify-content: space-between;
}

.profile_container .profile_navBar{
    background-color:var(--primary-color);
    padding: 3%;
      
}
.profile_container .profile_navBar ul{
padding: 0%;
}
.profile_container .profile_navBar li{
    list-style-type: none;
    color: white;
    text-align: right;
    cursor: pointer;
    margin: 30% auto;
}
.profile_container .profile_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5%;
   /* border: #3D3935 1px solid;*/
    width: 100%; 
}
.profile_container .profile_form{
    
    margin: 4% auto 14% auto;
    padding: 3%;
    width: 70%; 
    
}
.profile_container .lign_dv{
    display: flex;
    justify-content: space-between;
  
    margin-bottom: 5%;
}

.profile_container .lign_dv_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 48%;
}
.profile_container .inpt_lign{
    width:400px; 
    padding:3%; 
    border: 1px solid #ccc;
    border-radius: 5px; 
   

}
.profile_container  label {
    margin-bottom: 2%; 
}

.profile_container .profile_info_input {
    width: 97%; 
    padding: 1.5%; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}
.profile_container  input::placeholder {
    text-align: right;
}

.profile_container .profile_info select {
    width: 100%; 
    padding: 1.5%; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}


.profile_container .save_info {
    width: 100%; 
    padding: 2%; 
    border: none; 
    border-radius: 5px;
    background-color:var(--primary-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 3%;
    
}
.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 2%;
    
}
.services-container h2,h3,h4{
    text-align: center;
}
.services-container .services-display{
    display: grid;
    grid-template-columns: repeat(2,400px);
    justify-content:space-between;
    margin-top: 5%;
    width: 85%;
    
}
.services-container .service-item{
   padding: 2% 7%;
    margin-bottom: 10%;
    border-radius: 3px;
    height: 300px;
    background-color: var(--secondary-color);
}
.services-container .service-item-content{
display: flex;
justify-content: space-between;
}
.services-container .icon-service{
    display: flex;
    align-items: center;
    background-color: #00C8CB;
    border-radius: 15px;
    padding: 0px 10px;
    color: white;
    font-weight: 500;
}
.services-container ul {
    direction: rtl;
}
.service-item p{
    text-align: end;
}
.service-item .serv-span{
    background-color: #FEFFB5;
    border-radius: 8px;
    padding: 3px;
}
.services-container .ofr{
background-color: white;
color: red;
}
.services-container .add-content{
    background-color: transparent;
    border: #374957 0.5px dashed ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.services-container .btn_sub{
    background-image:linear-gradient(to right, #1D8B8C 20%, #00C8CB 100%);
    border: none;
    padding: 1% 4%;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 4px -1px 14px 3px rgba(0, 0, 0, 0.1);
}

.interest-container{
  
    width: 100%;
    padding: 2%;
}
.interest-container h2,h3{
    text-align: center;
}
.interest-container .interest-display{
    display: grid;
    grid-template-columns: repeat(2,350px);
    justify-content:space-around;
    margin-top: 5%;
    
}
.interest-container .interest-item{
   padding: 2% 12%;
    margin-bottom: 10%;
    border-radius: 3px;
    height: 140px;
    background-color: var(--secondary-color);
}
.interest-container .interest-item-content{
display: flex;
justify-content: space-between;
}
.interest-container .icon-interest{
    display: flex;
    align-items: center;
    
}
.interest-container .add-content{
    background-color: transparent;
    border: #374957 0.5px dashed ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
