
 


  .signup-form .signup_sub{
    margin: 4% auto 14% auto;
    padding: 5%;
    border: 1px solid #ccc;
    width: 50%; 
    border-radius: 5px;
    
}
  .signup-form .username_dv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  .signup-form .input-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 48%;
    
}
.signup-form .input_item{
  width:94%; 
  padding:3%; 
  border: 1px solid #ccc;
  border-radius: 5px; 
}

  .signup-form label  {
    display: block;
    margin-bottom: 5px;
    text-align: right;
    color: var(--primary-color);
  }
  
  /*.signup-form .input-group>input ,
  .signup-form .user_info{
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }*/
  
  .signup-form .input-group-col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5%;
   /* border: #3D3935 1px solid;*/
    width: 100%; 
    text-align: right;
}
.signup-form .input_item_col{
  width: 97%; 
  padding: 1.5%; 
  border: 1px solid #ccc;
  border-radius: 5px; 
}
.signup-form input::placeholder {
  text-align: right;
  
}
.signup-form .input-group-col select{
  width: 100%; 
  padding: 1.5%; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  text-align: right;
}
 
  .signup-form button {
    width: 100%;
    background-color:var(--primary-color);
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 3%;
  }
  .signup-form .connection_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-right: 3%;
  }
  .signup-form .connection_link a {
    text-decoration: none;
  }
  .signup-form button:hover {
    background-color:var(--primary-color);
  }

.error-message{
  color: red;
  font-size: 11px;
  margin-top: 2px;
}
.visibility{
  display: flex;
  flex-direction: row;
}
.input-group-row {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  width: 100%; 
}
.message-container {
  text-align: center;
}

.message-container .success-message {
  color: green;
  font-size: 16px;
}
.message-container .error-message{
  color: red;
  font-size: 16px;
 
}

.visibility-icon {
  cursor: pointer; 
  position:absolute;
  margin-left: 10px;
}

  /************signin***********************/
  .signin-form {
    max-width: 400px;
    margin: 4% auto;
    padding: 20px ;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .signin_titre{
    background-color: #3D3935;
    height: 45px;
   
  }
  .signin_titre h2{
    color: white;
    text-align: center;
    padding-top: 5px;
    margin: 0px;
  }
  .signin-form .username_dv{
    display: flex;
    justify-content: space-between;
  }
  .signin-form label  {
    display: block;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 3%;
    color: #585653;
  }
  
  .signin-form .input-group>input ,
  .signin-form .user_info{
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-form .user_info {
    width: 100%;   
  }
  .signin-form .SELECT-dv {
    width: 95%;
  }
  .signin-form button {
    width: 100%;
    background-color:var(--primary-color);
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 3%;
  }
  .signin-form .connection_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-right: 3%;
  }
  .signin-form .connection_link a {
    text-decoration: none;
  }
 
  .signin-form .error-message{
    direction: rtl;
  }



  .sloading::after
{
  content: "";
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -60%;
  left: 110%;

  height: 20%;
  aspect-ratio: 1;

  animation: load 1s infinite;
}

@keyframes load {
  0%{
    border-top-color: white;
  }
  25%{
    border-top-color: rgba(255, 255, 255, 0.2);
    border-right-color: white;
  }
  50%{
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: white;
  }
  75%{
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-left-color: white;
  }
}