.validation_container{
    margin:2% auto 5% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        
       
}
.validation_container  ul {
    direction: rtl;
}
.validation_container .law_choice{
   width: 100%;
}
.validation_container .law_choice li{
    
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.validation_container .law_choice input[type='checkbox'] {
    margin-right: 10px; 
  }
.validation_container button{
    border: none;
    background-color:var(--primary-color);
    padding: 1.5%;
    color: white;
    font-weight: 500;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    margin: 2% auto;
}