
  .payment-form .payment_sub{
   margin: auto;
    padding: 5%;
    width: 60%; 
    border-radius: 5px;
    
}
  .payment-form .payment-section2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  .payment-form .payment-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 48%;
    
}
.payment-form .payment_item{
  width:94%; 
  padding:3%; 
  border: 1px solid #ccc;
  border-radius: 5px; 
}

  .payment-form label  {
    display: block;
    margin-bottom: 5px;
    text-align: right;
    color: #585653;
    font-weight: 500;
  }
  .payment-form .payment-group-col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5%;
   /* border: #3D3935 1px solid;*/
    width: 100%; 
}
.payment-form .paiement-mode{
  display: flex;
  margin-top: 2%;
  width: 100%;
  justify-content: space-around;
}
.payment-form .paiement-mode-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #E2E1E1 1px solid;
  width: 200px;
 background-color: transparent;
 color: black;
  border-radius: 10px;
  outline: none;
}
.payment-form  .paiement-mode-item.active {
  border:2px solid #58D6D7;
}
.payment-form .payment_item_col{
  width: 97%; 
  padding: 1.5%; 
  border: 1px solid #ccc;
  border-radius: 5px; 
}
.payment-form input::placeholder {
  text-align: right;
}

 
  .payment-form button {
    width: 37%;
    background-color:var(--primary-color);
    color: white;
    padding: 6px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 3% ;
    font-size: 20px;
  }

  .payment-form .payment-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.payment-form .payment-button {
   
    width: 250px; 
    height: 40px; 
    background-color:var(--primary-color);
    color: white;
    padding: 6px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 3% ;
    font-size: 20px;
   
}
  

.mini-invoice
{
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loading::after
{
  content: "";
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -85%;
  left: 10%;

  height: 50%;
  aspect-ratio: 1;

  animation: load 1s infinite;
}

@keyframes load {
  0%{
    border-top-color: white;
  }
  25%{
    border-top-color: rgba(255, 255, 255, 0.2);
    border-right-color: white;
  }
  50%{
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: white;
  }
  75%{
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-left-color: white;
  }
}


.successful-payment
{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success-payment-details
{
  text-align: right;
  width: 30vw;
}

.receipt-actions
{
  margin-top: 2em;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}
