.logo_section{
    max-width: 100%;
    border-bottom: 2.2px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
}
.logo_section .easylaw_section{
    display: flex;
    align-items: center;
}
.logo_section .easylaw_section a{
    color: black;
    cursor: pointer;
}
.logo_section .lign_dv{
    border: var(--primary-color) 1px solid;
    height: 40px;
    margin: 0px 16px;
}
.logo_section .help_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87px;
}
.logo_section .easylaw_logo img{
    width: 90px;
}
.logo_section .login_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    width: 250px;
   
}
.logo_section .btn{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
   
    cursor: pointer;

}
.logo_section .login_btn{
    background-color: var(--primary-color);
    border: none;
    color: white;
}
.logo_section .btn_admin{
    background-color: transparent;
    border:  2px solid #045253 ;
    color:#045253;
}
.logo_section .select_lang{
    border: var(--primary-color) 1px solid;
   
}
.logo_section a{
    text-decoration: none;
}
.logo_section .titre_section h2{
    width: 200px;
    color:  #374957;
   margin: 0%;

}
.logo_section .titre_section {
    text-align: center;
    width: 200px;
    margin-right: 15%;
}
.logo_section .titre_section1 {
    text-align: center;
    width: 200px;
    margin-left: 42%;
}
.logo_section .user-initials-circle{
   background-color: #045253;
    border-radius: 100%;
    width: 38px;
    height: 32px;
   text-align: center;
   padding-top: 3%;
   color: white;
   margin-right: 28%;
}
.logo_section .user-initials-circle a{
    list-style: none;
    text-align: center;
    padding-top: 3%;
    color: white;
 }



 .warning {
    position: absolute;
    padding: 2px;
    top: 1.5em;
    left: 20em;
    font-size: 1rem;
    /* background-color: red; */
    color: red;
 }