.help_page {
    width: 100%;
}
.help_page h1{
    text-align: center;
    font-size: 34px;

}
.help_page .backgnd-text{
    background-color: #FEFFB5;
    border-radius: 10px;
    padding: 2px 0px 5px 25px;
    font-weight: bold;
   
}
.help_page .help_container{
    display: flex;
    padding: 3% 4%;
    justify-content: space-between;
}
.help_page .help_mail {
   margin-top: 2%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-around;
}
.help_page .help_pic{
   
    direction: rtl;
    display: flex;
    flex-direction: column;
    width: 45%;
}
.help_page .help_mail .mail_input{
    height: 30px;
    margin-bottom: 4%;
    border: 1.5px solid #D9D9D9;
    border-radius: 10px;
    padding: 2%;
    font-size: 16px;
    

}
.help_page .help_mail .text_input{
    height: 105px;
}
.help_page .help_mail .btn_mail{
    background-color: #00C8CB;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 2%;
    height: 40px;
}
.help_page .help_mail .help_pic h2{
    margin: 0px;
    padding: 0px;
}
.help_container .help_logo img{
    width: 380px;
    padding-right: 3%;

}
.help_page .disply_lignhelp{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.help_page .disply_lignhelp .ligne_help{
    border-top: 3px solid #00C8CB;
    width: 43%;
    
}
.help_page .disply_lignhelp P{
    margin: 1% 2%;
    
}
.help_page .qst_help{
    
    padding: 2% 4%;
}
.help_page .qst_help .icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.help_page .qst_help .lign_qst{
    width: 100%;
    border-top: 1px solid #D9D9D9;
    margin-top: 1%;
}
.help_page .qst_help .content-container{
    direction: rtl;
}