.scraping-result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2% 0;
    color: #374957;
   

}
.scraping-result-container h2{
    text-align: right;
}

.scraping-result-container .scraping-result-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.scraping-result-container .scraping-result-btn button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border:  1px solid  #58D6D7;
    border-radius: 5px;
    cursor: pointer;
    color: #374957;
}

.scraping-result-container .scraping-result-btn button.active {
    background-color: #58D6D7;
}
.scraping-contentPDF{
    width: 70%;
    background-color:#58D6D7 ;
    border-radius: 10px;
    padding: 3%;
    margin: 5% 0%;
}

.display_scrapingRslt{
border: 1px solid black;
padding: 4%;
}
.display_scrapingRslt .detail_Link {
   color: #374957;
   text-decoration: none;
   margin-right: 85%;
   display: flex;
   align-items: center;
}
.display_scrapingRslt .notify_user{
    background-color: #58D6D7;
    border: none;
    border-radius: 10px;
    padding: 1% 3%;
    font-size: 16px;
    color: #374957;
}