.LawCategories{
    margin: 7% auto;
   /* padding: 20px;*/
    width: 100%;
}
.LawCategories .law-titre{
    margin-right: 4%;
    font-weight: 400;
}
.background-text {
    background-color: #FEFFB5;
    border-radius: 14px;
    padding: 2px 0px 5px 25px;
    font-weight: bold;
   
}
.LawCategories .Law_content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(2, 270px);
    justify-content: center;
    align-items: center;


}
.LawCategories .law-titre{
    text-align: right;
}
.LawCategories .law_item{
   /* width: 250px;*/
    height: 220px;
    background-color: #E3FAFC;
    margin: 0% 6%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px -1px 14px 3px rgba(0, 0, 0, 0.1);
    position: relative;

}
.LawCategories .law-icon{

    width: 80px;
    height: 80px;
}
.LawCategories .icon-free{
    width: 75px;
    position: absolute;
    top: 6%;
    right: 9%;
}
.LawCategories .icon-free-span{
    position: absolute;
    top: 16%;
    right: 14%;
    color: white;
    font-size: 18px;
    font-weight: 600;

}